/* basic html component style */
@tailwind base;

@tailwind components;

/* tailwind utility classes. ex) w-4 */
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

/* Extend "@tailwind xxxx" layers */
@layer base {
    a {
        @apply text-orange-500 hover:underline underline-offset-2;
    }
}

/*@layer utilities {*/
/*    .text-bigger {*/
/*        @apply text-2xl font-semibold;*/
/*    }*/
/*}*/

@layer components {
    .primary-btn {
        @apply text-center hover:no-underline bg-orange-600 text-white py-2 px-4 rounded hover:bg-orange-500 active:bg-orange-700 transition active:shadow-lg;
    }

    /* remove arrow from number type input */
    .no-spinner {
        -moz-appearance: textfield;
    }
    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }
}